@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap&subset=latin-ext');



* {
    margin: 0;
    padding: 0;
}

html {
    font-family: 'Roboto', sans-serif;
}

nav {
    background-color: #333;
    padding-left: 20px;
    border-bottom: 4px solid royalblue;

}

nav a {
    display: inline-block;
    text-decoration: none;
    color: white;
    font-size: 24px;
    padding: 20px 30px;

}

nav a:hover {
    color: orange;
}

header {
    height: 40vh;
    background-image: url(pier-1467984_1280.jpg);
    background-size: cover;
    background-position: center;
}
