.board {
    width: 30vw;
    border: 10px solid black;
    /* overflow: hidden; */
    margin: 0 auto;
    /* height: 30vw; */

}

span {
    width: 50%;
    height: 15vw;
    display: block;
    background-color: #ddd;
    float: left;

}

span:nth-child(1) {
    background-color: red;
}

span:nth-child(4) {
    background-color: red;
}

h1 {
    width: 100%;
    text-align: center;

}

.clearfix::after {
    content: "";
    display: block;
    clear: both;
}