* {
    margin: 0;
    padding: 0;
    /*    box-sizing: border-box;*/
}

html {
    min-height: 300vh;
}


header {
    /*    border: 2px solid red;*/
    height: 80vh;
    background-image: url(city.jpg);
    background-position: center bottom;
    /*    background-repeat: no-repeat;*/
    /*    background-size: cover;*/
    background-attachment: fixed;
    position: relative;

}

h1 {
    position: absolute;
    bottom: 50px;
    left: 0;
    text-align: center;
    color: white;
    font-size: 80px;
    font-family: arial;
    background-color: rgba(0, 0, 0, 70%);
    width: 100%;



    padding-top: 10px;

}

section {
    margin: 100px auto 0;
    width: 80vw;
    /*    padding: 0 auto;*/
    font-family: verdana;
    line-height: 190%;

}
