* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    position: relative;
}

img {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

img:nth-child(2) {
    opacity: 0;
    animation: photo 4s linear infinite;
}

@keyframes photo {
    0% {
        opacity: 0;
    }

    40% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    90% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}