.arrow {
    position: absolute;
    bottom: 10px;
    left: calc(50% - 30px);
    font-size: 40px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 2px solid transparent;
    color: white;
    background-color: blue;
    overflow: hidden;
}

.arrow i {
    position: absolute;
    top: -30px;
    left: calc(50% - 20px);
    width: 40px;
    text-shadow: 0 -12px 0 white, 0 -24px 0 white;
    animation: move 1s linear infinite;
}

@keyframes move {
    100% {
        top: 70px;
    }
}