.profile {
    margin: 10px auto;
    /*    display: block;*/
    width: 800px;
    background-color: #ddd;
    position: relative;
}

.avatar {
    border-radius: 50%;
    padding: 20px;
}

.answer {
    position: absolute;
    top: 5%;
    left: 25%;
}
